openapi: 3.1.0
info:
  title: Make AI Agents Scenario Variables API
  description: The Make (formerly Integromat) REST API provides programmatic access to scenarios and the broader Make platform. Endpoints are organized into resource-oriented URLs at `/api/v2/`. Authentication uses an API token issued from the user profile with required scopes, passed via the `Authorization` header (`Token <api-token>`).
  version: 2.0.0
  contact:
    name: Make
    url: https://developers.make.com/api-documentation
servers:
- url: https://us1.make.com/api/v2
  description: US1 region
- url: https://us2.make.com/api/v2
  description: US2 region
- url: https://eu1.make.com/api/v2
  description: EU1 region
- url: https://eu2.make.com/api/v2
  description: EU2 region
security:
- TokenAuth: []
tags:
- name: Scenario Variables
paths:
  /scenarios/{scenarioId}/build-variables:
    get:
      tags:
      - Scenario Variables
      summary: List buildtime variables
      operationId: listScenarioBuildVariables
      parameters:
      - name: scenarioId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Variables
    post:
      tags:
      - Scenario Variables
      summary: Add buildtime variables
      operationId: addScenarioBuildVariables
      parameters:
      - name: scenarioId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Added
    put:
      tags:
      - Scenario Variables
      summary: Update buildtime variables
      operationId: updateScenarioBuildVariables
      parameters:
      - name: scenarioId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated
    delete:
      tags:
      - Scenario Variables
      summary: Delete a buildtime variable
      operationId: deleteScenarioBuildVariable
      parameters:
      - name: scenarioId
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deleted
components:
  securitySchemes:
    TokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'API token in the form: `Token <api-token>` with the required scopes enabled.'
