openapi: 3.1.0
info:
  title: Make AI Agents Scenario Execution API
  description: The Make (formerly Integromat) REST API provides programmatic access to scenarios and the broader Make platform. Endpoints are organized into resource-oriented URLs at `/api/v2/`. Authentication uses an API token issued from the user profile with required scopes, passed via the `Authorization` header (`Token <api-token>`).
  version: 2.0.0
  contact:
    name: Make
    url: https://developers.make.com/api-documentation
servers:
- url: https://us1.make.com/api/v2
  description: US1 region
- url: https://us2.make.com/api/v2
  description: US2 region
- url: https://eu1.make.com/api/v2
  description: EU1 region
- url: https://eu2.make.com/api/v2
  description: EU2 region
security:
- TokenAuth: []
tags:
- name: Scenario Execution
paths:
  /scenarios/{scenarioId}/start:
    post:
      tags:
      - Scenario Execution
      summary: Activate scenario
      operationId: startScenario
      parameters:
      - name: scenarioId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Activated
  /scenarios/{scenarioId}/stop:
    post:
      tags:
      - Scenario Execution
      summary: Deactivate scenario
      operationId: stopScenario
      parameters:
      - name: scenarioId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Deactivated
  /scenarios/{scenarioId}/run:
    post:
      tags:
      - Scenario Execution
      summary: Execute scenario
      operationId: runScenario
      parameters:
      - name: scenarioId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Execution started
  /scenarios/{scenarioId}/replay:
    post:
      tags:
      - Scenario Execution
      summary: Replay a scenario execution
      operationId: replayScenario
      parameters:
      - name: scenarioId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Replay started
  /scenarios/{scenarioId}/data/{moduleId}:
    get:
      tags:
      - Scenario Execution
      summary: Inspect module data for a scenario
      operationId: getScenarioModuleData
      parameters:
      - name: scenarioId
        in: path
        required: true
        schema:
          type: string
      - name: moduleId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Module data
components:
  securitySchemes:
    TokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'API token in the form: `Token <api-token>` with the required scopes enabled.'
